.filterby-row {
    line-height: 3rem;
}
#closeFilter {
    background-color: #232323;;
}

#closeFilter .fa-minus-square-o {
    color: #e74c3c;
}
#closeFilter span {
    font-size: 1.5rem;
    color: #FFFFFF;
    vertical-align: text-bottom;
}
.radio-button-row {
    padding-bottom: 20px;
}
.labelText {
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    width: 50%;
}