.ijs_maintainjo_container {
    margin: 1rem auto;
    background: #ffffff;
    width: 100%;
    box-shadow: 1px 1px 1px 2px grey;
}

.ijs_inquiryjo_container {
    margin: 1rem auto;
    background: #ffffff;
    width: 100%;
    box-shadow: 1px 1px 1px 2px grey;
}

.header-arrow-icon {
    margin-bottom: 0;
    background-color: #f0f6f8;
}
.header-arrow-icon p{ 
    padding: 0.75rem 1.25rem;
    margin: 0;
    background-color: #f0f6f8;
}
.header-arrow-icon p i {
    font-size: 1.5rem;
    vertical-align: bottom
}
.header-arrow-icon p span {
    vertical-align: text-bottom;
    font-weight: 800;
}
.ijs_searchdatafilter_wrapper {
    width: 100%;
    background-color: #ffffff;
    display: block;
}
