

<div *ngIf="openModal" id="lookup-popup-input">
  <div id="dg-imdg-lookup-modal-center" class="uk-modal-container" uk-modal bg-close="false" esc-close="false">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button class="uk-modal-close-default" type="button" uk-close (click)="resetPickDropModal(e)"></button>

        <p><span class="lookup-heading">DG/IMDG Commodities</span></p>

           
        <div class="col-sm-72">

        <div [hidden]="showlookuptable">

            <div class="uk-overflow-auto">
              <table class="uk-table uk-table-hover uk-table-divider slidein-from-top">
                <thead>
                  <tr>
                    <!-- <th>FlashPoint</th> -->
                    <th>UNNO</th>
                    <th>Variant</th>
                    <th>IMDGClass</th>
                    <th>PortClass</th>
                    <!-- <th>ResiduesOnly</th>
                    <th>FumigationOnly</th>                     -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tableRow of locLookUptableData | paginate: {itemsPerPage: resultsPerPage, currentPage: pc, id: 'lookupJoLog'}; let i = index"
                    class="slidein-from-top">
                    <!-- <td>{{tableRow.FlashPoint}}</td> -->
                    <td>{{tableRow.UNNO}}</td>
                    <td>{{tableRow.Variant}}</td>
                    <td>{{tableRow.IMDGClass}}</td>         
                    <td>{{tableRow.PortClass}}</td>
                    <!-- <td>{{tableRow.ResiduesOnly}}</td>
                    <td>{{tableRow.FumigationOnly}}</td>                                -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
       
        </div>
      
    </div>
  </div>
</div>