//pagination css
.pagination-wrapper-top {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pagination-wrapper-top .pageSelected, .pagination-wrapper-top p {
    display: inline-block;
}
.pagination-wrapper-top .pageSelected select {
    width: 100px;
}
.table-data-row, .table-data-row1 {
    margin: 10px 0;
    padding: 5px 0;
}

.transport-contract-text {
    font-weight: bold;
    text-decoration: underline;
    color: #00b0ff
}
.inline-block {
    display: inline-block;
}
.text1 {
    color: #b2b5b7 !important;
    margin: 0;
    font-weight: 600;
}
.text2 {
    color: #fff;
}
.para-text, .text2 {
    margin: 0;
    font-size: 12px;
}
.detail-text, .head-text {
    color: #6d6e6f !important;
    margin: 0;
    font-weight: 500;
    font-size: 12px;
}
.container-type {
    padding: 1px 5px;
    color: #fff;
    background-color: grey;
    border-radius: 3px;
}

.process-job-order-button {
    background-color: #00b0ff;
    border: 1px solid #00b0ff;
    padding: 5px 15px;
    border-radius: 3px;
    color: #fff;
}
.reset-button {
    background-color: #b3b1b1;;
    border: 1px solid #b3b1b1;;
    padding: 5px 15px;
    border-radius: 3px;
    color: #fff;
}

.lookup-heading{
padding-bottom: 2px;
margin-bottom: 30px;
font-size: 20px;
border-bottom: 1px #79c1ff solid;
}
