thead {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.lookup-container {
    padding: 1rem;
    background-color: lightgray;
    position: absolute;
    width: 89.7%;
    z-index: 5;
}

.lookup_btn {
    background-color: #4d4d4d;
    border: 1px solid #4d4d4d;
    color: #FFF;
}
.uk-modal-container .uk-modal-dialog {
    width: 500px;
    height: 420px;
}
.lookup-heading {
    padding-bottom: 2px;
    margin-bottom: 30px;
    font-size: 20px;
    border-bottom: 1px #79c1ff solid;
}
.search-lookup-row {
    margin-bottom: 20px;
}
.uk-table-hover tbody tr:hover, .uk-table-hover>tr:hover {
    background: #bde8f5;
}
.uk-modal-container .uk-modal-dialog .uk-overflow-auto {
    overflow: auto;
    height: 200px;
    margin-top: 20px;
    -webkit-overflow-scrolling: touch;
}
.btn-clr {
	border: 0px solid transparent;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.btn-clr:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 1;
    right: 25px;
    bottom: 15px;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: #000;
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
}

.lookUpCheckBox {
    top: 20px;
    position: relative;
}
.lookupErrorCodeShow {
    height: 1.5em;
    background-color: #d9534f;
    color: #fff;
    padding: 0 3px 0 3px;
    text-align: left;
    border-radius: 2px;
    margin-top: 3px;
    margin-left: 15px;
}
.arrow-block {
    display: inline-block;
    text-indent: -9999px;
    width: 52px;
    height: 5px;
    background: url(../../../assets/custom-icon/processjo-arrow.png);
    background-size: 52px 5px;
    background-repeat: no-repeat;
}

.uk-table th {
    font-weight: 600;
}
.uk-table td {
    height: 50px;
}
